/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Righe*/
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Colonne*/
[class*="col-"]{
    flex: 0 0 auto;
}

.col-1{
    width: calc((100% / 12) * 1);
}
