.container{
    width: 600px;
    height: 600px;
    margin: 100px auto 100px;
}

.height{
    height: 50px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

body .row{
    flex-wrap: nowrap;
}

.black{
    background-color: #000;
}

.color-1{
    background-color: rgb(51,127,36);
}

.color-2{
    background-color: rgb(74,152,64);
}

.color-3{
    background-color: rgb(92,197,42);
}



